<a href="https://colab.research.google.com/github/ASQAS71/CANA/blob/main/trabalhoCANA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Explicação do trabalho

#Importação de Bibliotecas

In [ ]:
from typing import Callable
import math
from time import time, sleep
from timeit import timeit
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

#Passo 1:

Implemente os métodos em Java ou equivalente em outra linguagem de programação.

##Métodos

Retornam uma tupla (parametro, valor, tempo)

In [ ]:
def metodo1(n: int) -> tuple[int, int, float]:
  inicio: float = time() * 1000
  valor: int = 0
  termo: int = n*n*n*n
  sleep(0.001)
  for i in range(1, 5):
    valor += termo
    sleep(0.001)
  fim: float = time() * 1000
  tempo: float = fim - inicio
  return n, valor, tempo

In [ ]:
def metodo2(n: int) -> tuple[int, int, float]:
  inicio: float = time() * 1000
  valor: int = 0
  termo: int = 4*n*n*n
  sleep(0.001)
  for i in range(1, n):
    valor += termo
    sleep(0.001)
  fim: float = time() * 1000
  tempo: float = fim - inicio
  return n, valor, tempo

In [ ]:
def metodo3(n: int) -> tuple[int, int, float]:
  inicio: float = time() * 1000
  valor: int = 0
  termo: int = n*n*n
  sleep(0.001)
  for i in range(1, 5):
    for j in range(1, n):
      valor += termo
      sleep(0.001)
  fim: float = time() * 1000
  tempo: float = fim - inicio
  return n, valor, tempo

In [ ]:
def metodo4(n: int) -> tuple[int, int, float]:
  inicio: float = time() * 1000
  valor: int = 0
  termo: int = n*n
  sleep(0.001)
  for i in range(1, 2):
    valor += termo
    sleep(0.001)
  fim: float = time() * 1000
  tempo: float = fim - inicio
  return n, valor, tempo

In [ ]:
def metodo5(n: int) -> tuple[int, int, float]:
  inicio: float = time() * 1000
  valor: int = 0
  termo: int = 4*n
  sleep(0.001)
  for i in range(1, n):
    for j in range(1, n):
      for k in range(1, n):
        valor += termo
        sleep(0.001)
  fim: float = time() * 1000
  tempo: float = fim - inicio
  return n, valor, tempo

##Criação do dataframe

In [ ]:
#função auxiliar que calcula o tempo de uma função
def getData(calls: int) -> list[dict]:
  dados = []
  for metodo in [metodo1, metodo2, metodo3, metodo4, metodo5]:
    for i in range(calls):
      methodExecutionInfo: tuple = metodo(i)
      instancia = {
        "Método" : metodo.__name__,
        "Parâmetro" : methodExecutionInfo[0],
        "Valor" : methodExecutionInfo[1],
        "Tempo de Execução (ms)" : methodExecutionInfo[2]
      }
      dados.append(instancia)
  return dados

In [ ]:
dados: list[dict] = getData(11)
df = pd.DataFrame(dados)
df.head(100)

     Método  Parâmetro  Valor  Tempo de Execução (ms)
0   metodo1          0      0                5.413086
1   metodo1          1      4                5.364990
2   metodo1          2     64                5.337402
3   metodo1          3    324                5.446045
4   metodo1          4   1024                5.470459
5   metodo1          5   2500                5.437988
6   metodo1          6   5184                5.430908
7   metodo1          7   9604                5.373291
8   metodo1          8  16384                5.486328
9   metodo1          9  26244                5.375244
10  metodo1         10  40000                5.359863
11  metodo2          0      0                1.074463
12  metodo2          1      0                1.069336
13  metodo2          2     32                2.136719
14  metodo2          3    216                3.206299
15  metodo2          4    768                4.366211
16  metodo2          5   2000                5.398926
17  metodo2          6   4320                6.595703
18  metodo2          7   8232                7.559570
19  metodo2          8  14336                8.612793
20  metodo2          9  23328                9.827637
21  metodo2         10  36000               11.043457
22  metodo3          0      0                1.070801
23  metodo3          1      0                1.112549
24  metodo3          2     32                5.325195
25  metodo3          3    216                9.787842
26  metodo3          4    768               14.210938
27  metodo3          5   2000               18.717529
28  metodo3          6   4320               22.786377
29  metodo3          7   8232               27.124756
30  metodo3          8  14336               31.175293
31  metodo3          9  23328               35.936523
32  metodo3         10  36000               39.859619
33  metodo4          0      0                2.149170
34  metodo4          1      1                2.144775
35  metodo4          2      4                2.183350
36  metodo4          3      9                2.164795
37  metodo4          4     16                2.201660
38  metodo4          5     25                2.168945
39  metodo4          6     36                2.149414
40  metodo4          7     49                2.152832
41  metodo4          8     64                2.193604
42  metodo4          9     81                2.172852
43  metodo4         10    100                2.156006
44  metodo5          0      0                1.105957
45  metodo5          1      0                1.072754
46  metodo5          2      8                2.162842
47  metodo5          3     96                9.777100
48  metodo5          4    432               30.426025
49  metodo5          5   1280               70.701416
50  metodo5          6   3000              136.243652
51  metodo5          7   6048              234.924805
52  metodo5          8  10976              374.844238
53  metodo5          9  18432              557.275635
54  metodo5         10  29160              788.442383